<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width" />
    <title>RD Invoice</title>
    <script src="./vue.global.js"></script>
    <link href="./style.css" rel="stylesheet">
    <style media="print">
      h1, .user-input-col {
        display: none !important;
      }
    </style>
  </head>
  <body>
    <h1>RD Invoice</h1>
    <div id="app">
      <div class="row">
        <div class="user-input-col">
          <div>
            <p>How to use:</p>
            <ol>
              <li>Use a computer, not a phone/tablet</li>
              <li>Enter/update your details</li>
              <li>Choose if you want GST included or not</li>
              <li>Enter/update the invoicee details (your employer)</li>
              <li>
                For each job that you're billing for...
                <ul>
                  <li>Click "Add job"</li>
                  <li>Enter the client's details</li>
                  <li>Set the quantity for each of the billable items</li>
                </ul>
              </li>
              <li>Note: there is <i>no</i> "save" or "apply", the invoice is updated as
                you make changes</li>
              <li>Use "File-&gt;Print" or "(right click)-&gt;Print" to print as
              a PDF</li>
              <li>Email the PDF</li>
            </ol>
            <p class="warn">Note: basically nothing is saved!!! Only your details and the
              invoicee details as they're probably the same/similar on all invoices. When
              you reload the page, all other details are lost FOREVER!
            </p>
            <p>View the <a
              href="https://gitlab.com/tomsaleeba/rd-invoice">source code</a>
            for this app.</p>
            <button @click="demoData">Add example job data</button>
            <button @click="clearYouAndInvoicee">Clear "Your" and "Invoicee" details</button>
          </div>
          <div>
            <div>
              <h3>Your details</h3>
              <div>
                <label>
                  ABN
                  <input type="text" v-model="you.abn" />
                </label>
              </div>
              <div>
                <label>
                  Name
                  <input type="text" v-model="you.name" />
                </label>
              </div>
              <div>
                <label>
                  Address
                  <input type="text" v-model="you.address" class="wider" />
                </label>
              </div>
              <div>
                <label>
                  Bank name
                  <input type="text" v-model="you.bankName" class="wider" />
                </label>
              </div>
              <div>
                <label>
                  Bank account name
                  <input type="text" v-model="you.bankAccName" class="wider" />
                </label>
              </div>
              <div>
                <label>
                  Bank BSB
                  <input type="text" v-model="you.bankBsb" class="wider" />
                </label>
              </div>
              <div>
                <label>
                  Bank account number
                  <input type="text" v-model="you.bankAccNum" class="wider" />
                </label>
              </div>
              <div>
                <label>
                  Include GST?
                  <input type="checkbox" v-model="isIncludeGst" />
                </label>
              </div>
              <h3>Invoicee details</h3>
              <div>
                <label>
                  ABN
                  <input type="text" v-model="invoicee.abn" />
                </label>
              </div>
              <div>
                <label>
                  Name
                  <input type="text" v-model="invoicee.name" />
                </label>
              </div>
              <div>
                <label>
                  Address
                  <input type="text" v-model="invoicee.address" class="wider" />
                </label>
              </div>
              <div>
                <label>
                  Invoice Date
                  <input type="date" v-model="invoicee.date" />
                </label>
              </div>
              <div>
                <label>
                  Invoice Number
                  <input type="text" v-model="invoicee.invoiceNumber" />
                </label>
              </div>
            </div>
          </div>
          <div v-for="(currJob, index) in jobs" :key="currJob.id">
            <p class="job-title">
              Job {{currJob.id}}
              <button @click="onDelete(index)">Delete</button>
              <button @click="onToggleCollapse(index)">
                <span v-if="currJob.isExpanded">Collapse /\</span>
                <span v-else>Expand \/</span>
              </button>
            </p>
            <div v-show="currJob.isExpanded">
              <h3>Client/job details</h3>
              <div>
                <label>
                  Job Date
                  <input type="date" v-model="currJob.date" />
                </label>
              </div>
              <div>
                <label>
                  Client name
                  <input type="text" v-model="currJob.name" class="wider" />
                </label>
              </div>
              <div>
                <label>
                  Client address
                  <input v-model="currJob.address" class="wider" />
                </label>
              </div>
              <p>Custom items</p>
              <button @click="addCustomItemToJob(currJob.id)">Add item</button>
              <div v-for="currCustom in currJob.customItems" :key="currCustom.id">
                <label>
                  <input
                    type="number"
                    min="0"
                    v-model="currCustom.quantity" />
                  <button @click="decrementQuantity(currCustom)">-</button>
                  <button @click="currCustom.quantity += 1">+</button>
                  <input
                    type="text"
                    v-on:keyup="onLabelEdit(currCustom)"
                    v-model="currCustom.label" />
                  ($<input
                    type="number"
                    v-model="currCustom.cost"
                    style="width: 4em;"
                    min="1" />)
                  <button @click="removeCustomItem(currJob, currCustom)">X</button>
                </label>
              </div>
              <div v-for="currItem in currJob.items" :key="currItem.title">
                <p>{{currItem.title}}</p>
                <div v-for="currEntry in currItem.entries" :key="currEntry.id">
                  <label>
                    <input
                      type="number"
                      min="0"
                      v-model="currEntry.quantity" />
                    <button @click="decrementQuantity(currEntry)">-</button>
                    <button @click="currEntry.quantity += 1">+</button>
                    {{currEntry.label}} (${{currEntry.cost}})
                  </label>
                  <div v-if="currEntry.allowNotes">
                    <label>
                      Notes for {{currEntry.label}}:
                      <input type="text" v-model="currEntry.notes" />
                    </label>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="action-bar">
            <button @click="addJob">Add job</button>
          </div>
        </div>
        <div class="output-col">
          <div>
            <h2>TAX INVOICE</h2>
            <div class="invoice-details">
              <div>
                <span class="field-highlight">Invoice Date:</span>
                {{formatDate(invoicee.date)}}
              </div>
              <div>
                <span class="field-highlight">Invoice Number:</span>
                {{invoicee.invoiceNumber}}
              </div>
              <div>
                {{invoicee.name}}<br />
                {{invoicee.address}}<br />
                <span class="field-highlight">ABN:</span> {{invoicee.abn}}
              </div>
              <div>
                {{you.name}}<br />
                {{you.address}}<br />
                <span class="field-highlight">ABN:</span> {{you.abn}}
              </div>
            </div>
            <table>
              <tr v-if="!jobs.length">
                <td>Use the "Add job" button to begin</td>
              </tr>
              <template v-for="(currJob, index) in jobs" :key="currJob.id">
                <tr>
                  <td class="customer-details" colspan="4">
                    <p>
                      <span class="field-highlight">Job Date:</span> {{formatDate(currJob.date)}}<br />
                      <span class="field-highlight">Name:</span> {{currJob.name}}<br />
                      {{currJob.address}}
                    </p>
                  </td>
                </tr>
                <thead>
                  <tr>
                    <th>Description</th>
                    <th>Qty</th>
                    <th>$ each</th>
                    <th>Amount AUD</th>
                  </tr>
                </thead>
                <template v-for="currItem of allItemsFrom(currJob)" :key="currItem.title">
                  <template v-if="currItem.entries.some(e => e.quantity)">
                    <tr>
                      <td>{{currItem.title}}</td>
                      <td class="num-col"></td>
                      <td class="num-col"></td></td>
                      <td class="num-col"></td>
                    </tr>
                    <tr
                      v-for="currEntry in currItem.entries.filter(e => e.quantity)"
                      :key="currEntry.id"
                    >
                      <td class="sub-item">
                        {{currEntry.label}}
                        <div v-if="currEntry.notes">{{currEntry.notes}}</div>
                      </td>
                      <td class="num-col">{{currEntry.quantity}}</td>
                      <td class="num-col">{{currEntry.cost}}</td>
                      <td class="num-col">{{formatMoney(currEntry.quantity * currEntry.cost)}}</td>
                    </tr>
                  </template>
                </template>
                <tr class="total-row">
                  <td>Job total</td>
                  <td colspan="3">{{jobTotals[index]}}</td>
                </tr>
              </template>
              <template v-if="isIncludeGst">
                <tr class="total-row exgst-row">
                  <td>Invoice total ex GST</td>
                  <td colspan="3">${{grandTotalExTax}}</td>
                </tr>
                <tr class="total-row">
                  <td>GST</td>
                  <td colspan="3">${{gst}}</td>
                </tr>
              </template>
              <template v-if="!isIncludeGst">
                <tr class="total-row">
                  <td>GST</td>
                  <td colspan="3">$0</td>
                </tr>
              </template>
              <tr class="total-row grand-total-row">
                <td>Invoice total
                  <span v-if="isIncludeGst">inc GST</span>
                  <span v-else>ex GST</span>
                </td>
                <td colspan="3">${{grandTotal}}</td>
              </tr>
            </table>
            <h3 class="bank-details-heading">Bank details</h3>
            <div class="bank-details">
              <div class="label">Bank name:</div><div>{{you.bankName}}</div>
              <div class="label">Account name:</div><div>{{you.bankAccName}}</div>
              <div class="label">BSB:</div><div>{{you.bankBsb}}</div>
              <div class="label">Account number:</div><div>{{you.bankAccNum}}</div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <script type="text/javascript" src="./script.js"></script>
  </body>
</html>
