:root {
  --border-style: 1px solid black;
}

body {
  font-family: Helvetica;
}

.num-col {
  border-left: var(--border-style);
  text-align: right;
}

th {
  border-bottom: var(--border-style);
  font-size: 0.7em;
}

th:not(:first-child) {
  border-left: var(--border-style);
}

tr:nth-child(2) td:nth-child(1) {
  min-width: 22em;
}

table {
  border-spacing: 0;
  border: var(--border-style);
  width: 21cm; /* A4 page, minus margins */
}

td {
  padding: 0.25em;
}

table tr:first-child td {
  border-top: none;
}

table tr:not(:first-child) .customer-details {
  border-top: var(--border-style);
}

.total-row td {
  font-weight: bold;
  text-align: right;
  border-top: var(--border-style);
}

.customer-details {
  border-bottom: var(--border-style);
}

.sub-item {
  padding-left: 1em;
}

.row {
  display: flex;
}

.user-input-col{
  flex: 33%;
}

.output-col {
  flex: 50%;
}

.grand-total-row {
  font-size: 1.2em;
}

.grand-total-row td, .exgst-row td {
  border-top: var(--border-style);
}

input[type="number"] {
  width: 2em;
}

input.wider {
  width: 20em;
}

.warn {
  border: 1px solid #af6200;
  border-radius: 7px;
  background: #f9e4bd;
  padding: 0.5em;
}

.action-bar {
  text-align: center;
}

.action-bar button {
  font-size: 1.2em;
}

.job-title {
  background: #DDD;
  width: 80%;
}

.job-title button {
  float: right;
}

.field-highlight {
  font-weight: bold;
}

.invoice-details {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 2em auto;
  gap: 0px 10px;
  grid-auto-flow: row;
}

.bank-details {
  display: grid;
  grid-template-columns: 1fr auto;
  grid-template-rows: auto;
  gap: 0px 10px;
  grid-auto-flow: row;
}

.bank-details .label {
  text-align: right;
}

.bank-details-heading {
  text-align: right;
  padding-right: 11em;
}
